# Laravel standard
/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.idea
/.vscode

# Composer & NPM
composer.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Cache / Logs
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# OS-specific
Thumbs.db
.DS_Store
desktop.ini

# Laragon-specific
*.bak
*.tmp
